name: CI

on:
  push:
    branches:
      - '!main'

jobs:
  project:
    name: Project
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: |
          yarn install
      - name: Check stylelint
        run: |
          yarn stylelint
      - name: Check eslint
        run: |
          yarn lint
      - name: Check TypeScript
        run: |
          yarn check:ts
